html,body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
      font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, sans-serif;
}

@font-face {
  font-family: 'iconfont';  /* Project id 4403900 */
  src: url('//at.alicdn.com/t/c/font_4403900_544tuv7nbst.woff2?t=1768276164441') format('woff2'),
       url('//at.alicdn.com/t/c/font_4403900_544tuv7nbst.woff?t=1768276164441') format('woff'),
       url('//at.alicdn.com/t/c/font_4403900_544tuv7nbst.ttf?t=1768276164441') format('truetype');
}

input {
  border: 1px solid #e2e8f0;
}
button {
  border: 1px solid #e2e8f0;
}